.container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
  }
  
  .nav {
    display: flex;
  }
  nav ul li {
    display: inline-block;
  }

  .nav-item{
        width: 100%;
        text-align: end;
  }

  .logo{
    width: 15%;

  }

  a{
    color: blue;
  }
  a:hover{
    color: black;
  }
  