body{
    font-family: math;
    /*background-image: url(img/bg2.jpg);*/
    background-color: #e7f1f3;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nav {
    display: flex;
    background-color: #002b69;
  }
  nav ul li {
    display: inline-block;
  }
 

  .nav-item{
        width: 100%;
        text-align: end;
  }

  .logo{
    width: 13%;

  }
  .navLink{
    color: white;
    text-align: center;
    padding: 13px 17px;
    text-decoration: none;
  }

  .navLink:hover:not(.active) {
    background-color: #ffffff;
    color: black;
  }

  .my_a{
    background-color: #333;
    padding: 5px;
    color: white;
    text-decoration: none;
  }

  .my_a:hover{
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;
  }

  footer{
    background-color: #002b69;
    color: white;
  }